@import 'colors';

#ContentScreen {

    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 100%;

    .leftSide {
        width: 300px;
        float: left;
        background: #eeeeee;
        box-sizing: border-box;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
        height: inherit;

        $lsHeaderHeight: 50px;
        .header {
            height: $lsHeaderHeight;
            padding: 5px;
            clear: both;

            .title {
                float: left;

                .imageContainer {
                    width: 49px;
                    height: 49px;
                    border-radius: 100%;
                    float: left;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url(/api/photo/default);
                }

                .nickName {
                    float: left;
                    line-height: 50px;
                    font-family: Raleway;
                    margin-left: 10px;
                    font-weight: bold;
                    color: $colorSzte;
                }
            }

            .settingsContainer {
                width: auto;
                float: right;

                .setting {
                    background-size: 24px 24px;
                    width: 40px;
                    background-position: center;
                    height: 40px;
                    padding: 4px;
                    border-radius: 0%;
                    cursor: pointer;
                    transition-property: border-radius, background-color;
                    transition-duration: 500ms;

                    &:hover {
                        background-color: #dddddd;
                        border-radius: 100%;  
                    }
                }
            }
        }

        .middle {
            background-color: white;
            height: calc(100% - #{$lsHeaderHeight});

            .searchContainer {
                height: 20px;
                background-color: #fbfbfb;
                padding: 12px;

                .searchInput {
                    display: block;
                    margin: auto;
                    width: 100%;
                    padding: 4px;
                    border-radius: 20px;
                    border: 1px solid #dddddd;
                    outline: none;
                    text-indent: 24px;
                    background-position: 2px 2px;
                    background-size: 20px;
                    font-family: Raleway;
                }
            }

            .usersContainer {
                position: relative;
                overflow: auto;
                overflow-x: hidden;
                overflow-y: auto;
                height: calc(100% - #{$lsHeaderHeight});

                .userUlList {
                    list-style-type: none;
                    margin: 0px;
                    padding: 0px;

                    .userLi {
                        background: white; 
                        height: 72px;
                        box-sizing: border-box;
                        overflow: hidden;
                        clear: both;
                        padding: 8px;
                        user-select: none;

                        .imageContainer {
                            width: 49px;
                            height: 49px;
                            border-radius: 100%;
                            float: left;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-image: url(~/api/photo/default);
                        }

                        &:last-child .infoContainer {
                            border-bottom: none;
                        }
                        .infoContainer {
                            float: left;
                            width: calc(100% - 71px);
                            padding: 0px 8px;
                            height: 100%;
                            font-family: Raleway;
                            font-size: 18px;
                            color: #333;
                            border-bottom: 1px solid #ddeeff;

                            .nickName {
                                margin-top: 4px;
                            }
                            .email {
                                font-size: 16px;
                                color: #948888;
                                margin-top: 1px;
                                font-family: 'Open Sans';
                            }
                        }
                    }
                }
            }
        }
    }

    .rightSide {
        width: calc(100% - 300px);
        float: right;
        background: #f7f9fa;
        box-sizing: border-box;
        height: inherit;
        background-image: url(~/img/bg-texture.png);
        background-size: 460px;
        position: relative;

        .messagesContainer {
            height: calc(100% - 60px);
            position: absolute;
            bottom: 0px;
            top: 0px;
            background: red;
            width: 100%;
        }
        
        .chatContainer {
            height: 60px + 200px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background: #efefef;

            .emojiContainer {
                height: 200px;
                width: 100%;

                .emojis {

                    .emoji {
                        display: inline-block;
                        padding: 4px;
                        margin: 4px;

                        border-radius: 100%;
                        cursor: pointer;
                        transition-property: border-radius, background-color;
                        transition-duration: 500ms;

                        &:hover {
                            background-color: #dddddd;
                            border-radius: 3px;  
                        }
                    }

                }
            }

            .container {
                height: 60px;
                position: absolute;
                bottom: 0;
                left: 0;
                clear: both;
                width: 100%;

                .chattext {
                    float: left;
                    width: calc(100% - 120px);
                    height: 40px;
                    margin-top: 10px;
                    box-sizing: border-box;
                    border-radius: 21px;
                    border: none;
                    outline: none;
                    font-family: Raleway;
                    font-size: 15px;
                    text-indent: 10px;
                }

                .emoji-opener {
                    float: left;
                    width: 40px;
                    height: 40px;
                    background-size: 26px;
                    margin: 10px;
                    background-position: center;
                    cursor: pointer;
                }

                .send {
                    float: left;
                    width: 40px;
                    height: 40px;
                    background-size: 26px;
                    margin: 10px;
                    background-position: center;
                    cursor: pointer;
                    opacity: 0.5;
                }
            }

        }
    }
}

