@import 'colors';
$mainWidth: 400px;

#MainScreen {
    position: absolute;
    top: 14%;
    left: 50%;
    width: 400px;
    background-color: rgba(255,255,255,0.2);
    padding-top: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px #e2d2d2;
    font-family: Raleway, sans-serif;

    margin-left: -$mainWidth/2;

    .logo {
        background-image: url(~/img/szte-logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        width: 184px;
        height: 122px;
    }

    .title {
        color: $colorSzte;
        display: block;
        text-align: center;
        font-family: Raleway, sans-serif;
        font-size: 30px;
    }
    
    .line {
        border-color: $colorSzte;
    }

    .signInContainer {

        padding: 14px;
        clear: both;

        .profilePicture {
            background-image: url(~/img/profile-temp.png);
            width: 100px;
            height: 100px;
            border-radius: 3px;
            border: 1px solid $colorSzte;
            background-size: contain;
            float: left;
            margin-top: 8px;
        }

        form {
            float: left;
            
            width: calc(100% - 107px);
            margin-left: 5px;
            text-align: center;

            input {
                font-family: inherit;
                font-size: 18px;
                box-sizing: border-box;
                background-color: transparent;
                border: none;
                color: #333;

                &:focus {
                    outline: none;
                }
            }

            input[type=text], input[type=password] {
                width: 100%;
                display: block;
                padding: 5px 47px;
                margin-bottom: 4px;
                border-bottom: 1px solid $colorSzte;

                &[data-icon] {
                    background-position: 7px center;
                    background-size: auto !important;
                }
            }

            input[type=submit], input[type=button] {
                border-radius: 2px;
                background-color: transparent;
                text-align: center;
                border: 1px solid $colorSzte;
                padding: 7px 30px;
                cursor: pointer;
                display: inline-block;
            }

            input.signUp {
                background-color: $colorSzte;
                color: whitesmoke;
            }
        }
    }
}